<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/code.css">
{% for code_java in site.code_java %}
 <hr>
 <div class="j-wrap">
    <a class="a-nav" href="{{ $site.baseurl }}{{ code_java.url }}">
        <h2>{{ code_java.title }}</h2>
        <p class="d-hover">{{ code_java.desc }}</p>
     </a>  
     <p class="flex j-c-b a-i-s">
         <span class="flex a-i-c i-type">
             {%- for icons in code_java.types -%}
             {{ site.data.icons.icon[icons.type] }}
             {%- endfor -%}
         </span>
         <span>{{ code_java.date }}</span>
     </p>
 </div>
{% endfor %}

