<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/music.css">
<hr>
<div class="flex m-item">
    <div class="margin-r-5">
        <img class="m-img" src="{{ site.baseurl }}/assets/images/music/01.png" alt="01.png">
    </div>
    <div>
        关于这首歌关于这首歌关于这首歌关于这首歌关于这首歌关于这首歌关于这首歌关于这首歌关于这首歌关于这首歌关于这首歌
    </div>
</div>

<hr>
<div class="flex m-item">
    <div class="margin-r-5">
        <img class="m-img" src="{{ site.baseurl }}/assets/images/music/on_fire.jpg" alt="01.png">
    </div>
</div>