.m-item {
    text-align: justify;
    .m-desc {
        color: $gray-4;
    }
    img.m-img {
        float: left;
        height: $root-line-height * 5rem;
        margin-right: $root-font-size / 4;
        margin-bottom: 0;
        @media (min-width: $large-breakpoint) {
            margin-right: $large-font-size / 4;
        }

        &.right {
            float: right;
            margin-right: 0;
            margin-left: $root-font-size / 4;
        }
    }
}