---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- {%- for item in site.data.icons -%}
    <p>{{item.robot}}</p>
  {%- endfor -%} -->
  <span>{{site.data.icons.icon.robot}}</span>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  {% for staff_member in site.staff_members %}
  <h2>{{ staff_member.name }} - {{ staff_member.position }}</h2>
  <p>{{ staff_member.content | markdownify }}</p>
  
  {% endfor %}

  {%- for item in site.data.members.items -%}
    <p>{{ item.name }}</p>
  {%- endfor -%}
<!-- 视频 -->
  <video 
  controls=""  
  width="640" 
  height="360" 
  name="media"><source 
  src="https://r5---sn-ogul7n7d.googlevideo.com/videoplayback?fvip=5&amp;dur=435.327&amp;c=WEB&amp;clen=23216497&amp;itag=18&amp;ratebypass=yes&amp;ipbits=0&amp;key=cms1&amp;expire=1536926237&amp;id=o-AJUKVs10Fx5gsjtVYQ6a1jzjErhJxh3jT2ru99axyzxQ&amp;pl=24&amp;source=youtube&amp;requiressl=yes&amp;mime=video%2Fmp4&amp;ip=186.248.166.170&amp;ei=vU2bW4_GFs-ExAT8-4GgCg&amp;lmt=1390041003648287&amp;sparams=clen,dur,ei,expire,gir,id,ip,ipbits,ipbypass,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&amp;gir=yes&amp;signature=84AE53B8FBF0C24A0A92826253EFAE0FEBC6A69E.6159250B677A6757FB65E76E07D9D4D352940513&amp;video_id=qo9tKOPCjO4&amp;title=Luar+Na+Lubre+-+O+Son+do+Ar&amp;rm=sn-jxhpb-jo4l7s,sn-bg0sd7e&amp;fexp=23755740,23763035,23763599&amp;req_id=d3e209eb4aafa3ee&amp;ipbypass=yes&amp;mip=103.85.24.71&amp;redirect_counter=3&amp;cm2rm=sn-oguyl76&amp;cms_redirect=yes&amp;mm=34&amp;mn=sn-ogul7n7d&amp;ms=ltu&amp;mt=1536903814&amp;mv=u" type="video/mp4"></video>

</div>
